* {
    max-width: 100%;
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

:root {
    --dark-blue: 
rgb(4, 4, 106);
    --blue: 
rgb(0, 191, 255);
    --blue-light: 
rgb(69, 208, 255);
}

body {
    background-image: linear-gradient(to bottom, rgb(207, 159, 96), rgb(184, 61, 61), rgb(207, 159, 96));
    background-color: #b3ac98;
}
header {
    border-top: 0.5em solid rgb(126, 49, 49);
    box-shadow: 0 5px 10px 
rgba(23, 3, 3, 0.2);
   
}

#header-logo {
    text-align: right;
    padding:15px 0;/* Adds space to the top and bottom of the logo */
    height: 140px;
    width: 125px;
}
#logo {
    border-radius                                                                                                                                                                                                                   : 15px;
}
#header-grid {
    background-color: rgb(126, 49, 49);
}


#header-mobile-nav  {
    background-color: maroon;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index: 2;
}

#mobile-nav {
    color: white;
    font-size: 2em; /* Makes the navigation icon bigger */
    margin: 0 0.25em; /* Adds space to the left/right of the mobile nav */
    cursor: pointer;
    text-align: left;
}
#header-bottom-nav li {
    border-bottom: 1px solid
    black;
    
}

#header-bottom-nav {
    /* width:50% */
    background-color:whitesmoke
}

#header-bottom-nav a {
    font-size: 1.2em; /*increases font size */
    display: block; /* allows for the adding of pagging/margins */
    color:rgba(255, 255, 255, 0.756);
    padding: 20px;
    border-right: 1px solid;
    /* background-color: lightgray; */
    background-color:  rgb(184, 61, 61);
    text-decoration: none;

}
#header-bottom-nav a:hover {
    background: lightgrey;
    color:red;
}

#textbox1 {
    text-align: center; 
    border: 2px solid maroon;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    font-size: larger;
}
#taco{
    border: 2px solid maroon;
    border-radius: 15px;
    margin: 10px;
    max-width: 95%;
    max-height: 100%;
    text-align:center;
}
#textbox2 {
    text-align: center; 
    border: 2px solid maroon;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
     font-size: x-large;
}
#About-Me-Header {
    text-align: center; 
    /* border: 1px solid black; */
    padding: 10px;
    margin: 10px;
    /* border-radius: 15px; */
     font-size: 60px;
    font-family: 'Pirata One', cursive;
}
#Music {
    text-align: center; 
    /* border: 1px solid black; */
    padding: 10px;
    margin: 10px;
    /* border-radius: 15px; */
     font-size: 30px;
     font-family: 'Aboreto', cursive;
}

.music-icon-container {
    text-align: center;
}
.music-icon  {
    font-size: 9.5em;
}
#Music-P {
    text-align: center;
    line-height: 150%;
    font-size: large;
    padding: 10px;
    margin: 10px;
    border: 2px solid maroon;
    border-radius: 15px;
}
#Movies {
    text-align: center; 
    /* border: 1px solid black; */
    padding: 10px;
    margin: 10px;
    /* border-radius: 15px; */
     font-size: 30px;
     font-family: 'Aboreto', cursive;
}

.Movie-icon-container {
    text-align: center;
}
.movie-icon {
    font-size: 9.5em;
}
#Movie-P {
    text-align: center;
    line-height: 150%;
    font-size: large;
    padding: 10px;
    margin: 10px;
    border: 2px solid maroon;
    border-radius: 15px;
}
#Family {
    text-align: center; 
    /* border: 1px solid black; */
    padding: 10px;
    margin: 10px;
    /* border-radius: 15px; */
     font-size: 30px;
     font-family: 'Aboreto', cursive;
}
.Family-icon-container {
    text-align: center;
}
.family-icon {
    font-size: 9.5em;
}
#Family-P {
    text-align: center;
    line-height: 150%;
    font-size: large;
    padding: 10px;
    margin: 10px;
    border: 2px solid maroon;
    border-radius: 15px;
}
footer {
    text-align: center;
    padding: 100px 40px;
    font-family: 'Pirata One', cursive;

}
.social {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}
footer a {

    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-size: 1.5em;
    color: black;

}
footer a:hover {
    text-decoration: underline;
}
footer h3 {
    margin: 20px 0;
}
.social_icons {
    width: 50px;
    height: 50px;
}
#social-links {
    display: flex; /* Places block items side-by-side */
    justify-content: center; /* Centers flex content horizontally */
  }
.contact {
    text-align: center;
    margin: 20px 0;
    font-size: 1.25em;
}
@-webkit-keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
	14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
	28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
	42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
	56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
	70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
	84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}
.paginacontainer {
  height: 3000px;
}
.progress-wrap {
	position: fixed;
	right: 30px;
	bottom: 30px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(0,0,0,0.1);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	content: '';
	background-image: url('../image/up-arrow-svgrepo-com.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: rgba(0, 0, 0, 0.2); /* --- Lijn progres kleur --- */
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    /* scrollbar-width: 0px; */
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    /* content: counter(item); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 2.5rem;
    height: 2.5rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -0.5rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -0.5rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
 #timer {
  font-size: 1.3em;
 }