:root{
--BlueA:hsl(256, 26%, 20%);
--BlueB: hsl(216, 30%, 68%);
--GrayA: hsl(270, 9%, 17%);
--GrayB: hsl(273, 4%, 51%);
--GrayC: hsl(0, 0%, 98%);
}

*{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
#mobile-nav{
    display:inline-block;
    padding: 3px;
    align-content:end;
    border: solid black 2px;
}
#header-mobile-nav {
    padding: 24px 16px 16px;
    display: flex; /* Places the contact button and mobile nav on same horizontal line */
    justify-content: space-between; /* Places the contact button on left and mobile navigation on right */
    align-items: center; /* Vertically centers the contact button with the mobile navigation */
}

#mobile-nav {
    font-size: 1em; /* Makes the navigation icon bigger */
    margin: 0 0.25em; /* Adds space to the left/right of the mobile nav */
    cursor: pointer;
}

#header-bottom-nav {
    background-color: var(--BlueA);
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    width: 100%;
}

/* #header-bottom-nav li {
    border-bottom: 1px solid ;
} */

#header-bottom-nav a {
    font-size: 1.2em; /* Increases font-size 20% */
    display: block; /* A tags are inline elements by default. Making this a block allows you to add top/bottom padding and margin, and makes it full width */
    padding: 20px;
    text-decoration:none;
    color: white;
    font-weight: 700;
    text-align: center;
    border: solid var(--BlueA) 2px;
    font-family: "DM Serif Display";
}

#header-bottom-nav .active, #header-bottom-nav a:hover {
    border: solid white 2px;
}
#jumbotron-text {
    padding: 100px 40px;
    text-align: center;
    background-color: var(--BlueA);
    color: white;
    font-family: "DM Serif Display";
}
#jumbotron-text h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
    font-family: "DM Serif Display";
}
#jumbotron-text h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
    font-family: "DM Serif Display";
}
#jumbotron-text p {
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 300;
    margin: 30px 0;
    font-family: "DM Serif Display";
}
#family{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.btn {
    padding: 12px 24px 10px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "DM Serif Display";
}
main {
    padding: 0 40px 50px;
    text-align: center;
    background-color: white;
    color: white;
    font-family: "DM Serif Display";
}
main h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
    color: black;
    font-family: "DM Serif Display";
}
main h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
    color: black;
    font-family: "DM Serif Display";
}
main p {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 300;
    margin: 30px 0;
    color: var(--GrayB);
    font-family: "DM Serif Display";
}
#about {
    margin: 0 auto 50px;
    text-align: center;
    background-color: var(--BlueA);
    color: white;
    font-family: "DM Serif Display";
    width: 80%;
    height: 100%;
    padding-bottom: 2em;
    padding: 50px 0 80px;
}
#about h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
    font-family: "DM Serif Display";
}
#about h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
    font-family: "DM Serif Display";
}
#about p {
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 300;
    margin: 30px 0;
    font-family: "DM Serif Display";
}
footer {
    background-color: lightgrey;
    text-align: center;
    padding: 100px 40px;
    font-family: "DM Serif Display";
}

footer h3 {
    color: var(--GrayB);
    margin: 20px 0;
    font-family: "DM Serif Display";
}

footer a {
    color: var(--gray-light);
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    font-family: "DM Serif Display";
}
footer a:hover {
    text-decoration: underline;
}
.logos{
    margin: 7px;
}
.line{
    border-bottom: 1px solid var(--GrayB);
    display:flex;
    margin: 50px 0;
}
@media screen and (min-width: 1000px) {
#footer-bottom {
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
}
#footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    gap: 20px;
    text-align: left;
}
main {
    text-align: left;
    width: 70%;
    margin: 0 auto;
}
main h1 {
    margin-left: 100px;
}
#jumbotron-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    text-align: left;
}
#jumbotron-image {
    text-align: right;
    width: 50%;
}
#jumbotron {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
}
}
