
#bluh {
    border: 5px solid black;
    border-radius: 1.75em;
    background-color: #D3D3D3;
    max-height: 50em;
    margin: 40px 0px 40px 0px
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}

/* Mobile Styles (up to 767px) */
@media screen and (max-width: 767px) {
    #bluh {
        height: 90em;
        border: 10px solid #D3D3D3;
        background-color: whitesmoke;
    }
}

#Big-text {
    font-size: 18px;
}

#emptybox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px;
    padding:30px;
}

/* Desktop Styles (768px and wider) */
@media screen and (min-width: 1000px) {
    #bluh { 
        height: 120em;
        border: 10px solid whitesmoke;
        background-color: whitesmoke;
        display: flex;
        max-width: 95% ;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        flex-direction: row;
    }
    #picture {
        width: 50%;
    }
    #emptybox {
        width: 50%;
    }
    #picture > picture {
        height: 100%;
        border-radius: 1.75em;
    }
    #dresser-img {
        height: 100%;
        object-fit: contain;
    }
    #Big-text {
        font-size: 3em;
    }
    #Small-text {
        font-size: 1.2em;
        line-height: 1.5;
    }
}
html {
    background-color: #D3D3D3;
}

    
    #Small-text {
        font-size: 14px;
        line-height: 25px;
    }
