/* Shared Styles */
#bluh {
    border: 5px solid black;
    border-radius: 1.75em;
    background-color: #D3D3D3;
    max-height: 50em;
    margin: 40px 0px 0px 0px
}

img {
    max-width: 100%;
    height: auto;
    display: block; /* Use block for easier margin handling */
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}

/* Mobile Styles (up to 767px) */
@media screen and (max-width: 767px) {
    #bluh {
        height: 90em;
        border: 10px solid #D3D3D3;
        background-color: whitesmoke;
    }
}

/* Desktop Styles (768px and wider) */
@media screen and (min-width: 768px) {
    #bluh { 
        height: 120em;
        border: 10px solid whitesmoke;
        background-color: whitesmoke;
    }
}
html {
    background-color: #D3D3D3;
}
